import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.menu-area li a {
  text-decoration: none;
}

.menu-area li {
  list-style-type: none;
}

.custom-padding{
  padding-top: 25px;
}

nav {
  position: fixed;
  left:0.5%;
  width: calc(100% - 60px);
  margin: 0 auto;
  padding: 10px 0;
  background: rgb(220, 31, 51);
  z-index: 1;
  text-align: right;
  padding-right: 2%;
}

.logo {
    position: fixed;
    margin-top: 1.7%;
    margin-left: 4%;
    width: 11%;
    height: 9%;
    float: left; 
    border-radius: 15px;
    z-index: 500;
}

.menu-area li {
  display: inline-block;
}

/*<a> tag inside the menu area*/
.menu-area a {
    text-transform: uppercase;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.menu-area a:hover:after {
  transform: translateY(-50%) rotate(-35deg);
}

.menu-area #activo { 
    cursor: default;
    border-bottom: 2px solid white;
}

.menu-area a#activo:hover {
    cursor: default;
}

.dropdown-content a#activo { 
    cursor: default;
    background-color: lightcoral;
    border-bottom: 0px solid white;
}

.dropdown-content #activo:hover {
    cursor: default;
}

nav:before {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-right: 10px solid #333;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  left: 0;
}

nav:after {
  position: absolute;
  content: '';
  border-top: 10px solid #333;
  border-left: 10px solid #333;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  top: 100%;
  right: 0;
}

/* The drop-down container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Drop-down button */
.dropdown .dropbtn {
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.menu-area a:hover, .dropdown:hover .dropbtn {
    background-color: lightslategray;
    cursor: pointer;
}

/* Drop-down content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the drop-down */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to drop-down links on hover */
.dropdown-content a:hover {
  background-color: lightcoral;
}

/* Show the drop-down menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.cuadro_centro {
    position:absolute;
    left: 30%;
    top: 25%;
    min-height: 50%;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    border-color: rgb(220, 31, 51);
    border-width: 10px;
    border-style: solid;
}

/* Change styles for cancel button and create button on extra small screens */
@media screen and (max-width: 300px) {
  .denyBtn, .approveBtn {
     width: 100%;
  }
}

h1 {
    margin-left: 2%;
    margin-top: 1.5%;
}

div.row {
    margin-bottom: 1%;
}

span.tag {
    position: relative;
    margin-left: 10%;
    font-size: 1.1vw;
    font-weight: bold;
}

span.info {
    position: relative;
    margin-left: 0.3%;
    font-size: 1.1vw;
}

p.info {
    position: relative;
    margin-left: 12%;
    font-size: 1.1vw;
    width: 85%;
}

#fechaMaxCam {
    width: 26.4%;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 1%;
    font-size: 1vw;
    font-family: "Times New Roman";
}

.denyBtn, .denyBtn:hover{
    position: relative;
    font-size: 1.25vw;
    background-color: red;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 40%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
    outline: none;
    box-shadow: 0 9px #999;
    margin-left: 4.5%;
    margin-bottom: 4%;
}

.denyBtn:hover{
    background-color: darkred;
}

.denyBtn:active{
    background-color: darkred;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}

.approveBtn, .approveBtn:hover{
    position: relative;
    left: 10%;
    font-size: 1.25vw;
    background-color: green;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 40%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-family: "Times New Roman";
    text-align: center;
    outline: none;
    box-shadow: 0 9px #999;
    margin-bottom: 4%;
}

.approveBtn:hover{
    background-color: darkgreen;
}

.approveBtn:active{
    background-color: darkgreen;
    box-shadow: 0 5px #666666;
    transform: translateY(4px);
}